<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>text utails</title>
</head>
<body>
<!--It is a template.-->
<!--{{ name }} is from {{ Place }}-->
<h1>Welcom to text analyazer.enter your text below</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='height: 150px; width: 1336px;'></textarea><br>
    <input type="checkbox" name="removepunc"> Remove punctuations<br>
    <input type="checkbox" name="fullcaps"> UPERCASE<br>
    <button type="submit">Analyazer text</button>
</form>
</body>
</html>